---
const personalImageAlt = "Michael Taboada";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Michael Andrés. Empecé en la programación con programas básicos
      de C++ con la tutoría de mi hermano a los 16 años. Actualmente ya finalice mis estudios de <strong
        > Ingeniería de Sistemas y Computación en la UTB</strong
      > y cursando una <strong>doble titulación en Ciencias de Datos</strong>.
    </p>

    <p>
      Actualmente trabajo como <strong
        >Desarrollador Full Stack en Zenoex</strong
      >, donde desarrollo aplicaciones web con tecnologías modernas como React,
      Next.js, Astro y Node.js. También realizo mis prácticas profesionales como <strong
        >Intern PSO en Labvantage Latam</strong
      >.
    </p>

    <p>
      Mi enfoque combina el <strong
        >desarrollo web con el análisis de datos</strong
      >, aprovechando herramientas como Python, PostgreSQL y Supabase para crear
      soluciones completas y escalables. Me apasiona trabajar en equipo y
      resolver problemas de forma eficiente.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="https://i.postimg.cc/Bn7d4BW5/photo1710475066.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 ring-1 ring-black/70"
    style="object-position: 50% 50%"
  />
</article>
